<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mooc.ppjoke">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />


    <application
        android:name=".JokeApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon_jetpack"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_jetpack"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <!--        这是是QQ快捷登录SDK 里面包含但没用的 apache的类，需要在这里通过uses-library去除掉 -->
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.publish.PublishActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.publish.CaptureActivity"
            android:screenOrientation="portrait"
            android:theme="@style/capture"></activity>

        <activity
            android:name=".ui.publish.PreviewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/preview"></activity>

        <activity android:name=".ui.login.LoginActivity"></activity>

        <activity
            android:name=".ui.detail.FeedDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/feedDetail"></activity>

        <activity android:name=".ui.find.TagFeedListActivity"></activity>

        <activity android:name=".ui.my.ProfileActivity"></activity>

        <activity android:name=".ui.my.UserBehaviorListActivity"></activity>


        <!-- 注册SDKActivity -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent101794421" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

    </application>

</manifest>